<!--add_films.html-->
<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::main})}">
<main>


    <form th:action="@{/films/create}"
          method="post"
          th:object="${film}">

        <ul class="flex-outer">
            <li>
                <label for="idGenre">Genre : </label>
                <select id="idGenre" name="Genre">
                    <option value="">--Please choose an option--</option>
                    <option value="Animation">Animation</option>
                    <option value="Science-fiction">Science-fiction</option>
                    <option value="Documentaire">Documentaire</option>
                    <option value="Action">Action</option>
                    <option value="Comédie">Comédie</option>
                    <option value="Drame">Drame</option>
                </select>
                <!-- <input id="idGenre" th:field="${film.genre}" type="text"> -->
            </li>

            <li>
                <label for="idAnnee">Année : </label>
                <input id="idAnnee" th:field="${film.annee}" type="text">
            </li>

            <li>
                <label for="idTitre">Titre : </label>
                <input id="idTitre" th:field="${film.titre}" type="text">
            </li>

            <li>
                <label for="idRealisateur">Réalisateur : </label>
                <!--                <input id="idRealisateur" th:field="${film.realisateur}" type="text">-->
                <select id="idRealisateur" th:field="*{realisateur}">
                    <option value="">--Please choose an option--</option>
                    <option th:each="real : ${participant}" th:value="${real.id}" th:text="${real.name}"></option>
                </select>
            </li>

            <li>
                <label for="idDuree">Durée : </label>
                <input id="idDuree" th:field="${film.duree}" type="text">
            </li>

            <li>
                <label for="idActeur">Acteur(s) : </label>
                <input id="idActeur" th:field="${film.acteurs}" type="text">
            </li>

            <li>
                <label for="idSynopsis">Synopsis : </label>
                <textarea id="idSynopsis" th:field="${film.synopsis}"></textarea>
            </li>
        </ul>
        <input type="submit" value="Ajouter Film">
    </form>
</main>

</html>